<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vuejs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
        <div id="app">
          <input @keyup.enter="addTask()"
                 v-model="item"
                 placeholder="Add the task..."
                 onfocus="placeholder = ''"
                 onblur="placeholder = 'Add the task...'"
                 >
            <div class="info">
                <i class="fas fa-info" 
                    @mouseenter="showTime()"  
                    @mouseleave="time = ''"  
                ></i>
                <br>
                <i class="fas fa-times"
                   @click="deleteAllTasks"
                  > 
                </i>
            </div>
           <ul>
               <li v-for="(item, index) in tasks"
                   @dblclick="deleteTask(index)"
                   v-model="">
                 {{index+1}}. {{item}} <div class="showTimeInfo">{{time}}
                 </div>
               </li>
           </ul>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src ="app.js"></script>
</body>
</html>